@import '../../_styles/colors';
@import '../../_styles/spacing';

.create-form__controls__button-wrapper{
   float: right;
   height: 100%;
   padding-bottom: $space-400;
}

.create-form__controls-container {
    position: fixed;
    bottom: 0;
    width: 60%;
    /* height: 100px; */
    background-color: white;
    color: white;
    text-align: center;
    z-index: 1500;
    border-top: 1px solid $grey-200;
    box-shadow: 0 -5px 5px -5px $grey-100;
 }

 .create-form__controls-content {
    margin: 0 $space-400;
    margin-right: $space-600;
    margin-left: $space-600;
    padding: $space-400 0;
 }

 @media only screen and (max-width: 900px) { 
    .create-form__controls-container {
        width: 55%;
     }
}

@media only screen and (max-width: 830px) { 
    .create-form__controls-container {
        width: 100%;
     }

   .create-form__controls-content {
      margin-right: $space-500;
      margin-left: $space-500;
   }
}