@import '../_styles/_spacing.scss';
@import '../_styles/_colors.scss';

.view-event__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.main {
    margin-left: auto;
    margin-right: 0;
    width: $space-1100 + $space-1000;
    height: 400px;
    background-color: yellow
}



@media only screen and (max-width: 1200px) { 
    .main {
        margin: 0 auto;
    }
    .sidebar {
        display: none;
    }
}

@media only screen and (max-width: 830px) { 
    .main {
        width: 100%;
    }
    
}


@media only screen and (max-width: 480px) { 
    .main {
        width: 100%;
    }
}
