button, .button {
    display: inline-flex;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1;
    font-weight: 600;

    // defaults
    font-size: $text-300;
    padding: 12px 16px;
    margin: $space-100;
    border-radius: 0px;
    border: none;
    background-color: $grey-600;
    color: white;

    // sizes
    &.btn-lg {
        font-size: $text-600;
        padding: 18px 30px;
        border-radius: 0px;
    }
    &.btn-md {
        font-size: $text-400;
        padding: 14px 28px; 
        border-radius: 0px;
    }
    &.btn-sm {
        font-size: $text-300;
        padding: 14px 22px;  
        border-radius: 0px;
    }
    &.btn-xs {
        font-size: $text-200;
        padding: 10px 14px;
        border-radius: 0px;
    }

    // default actions
    &:active {
        opacity: 0.8;
    }
    &:focus {
        outline: none !important;
    }
    &:hover {
        cursor: pointer;
    }

    &:disabled {
        background-color: rgba($grey-600, 0.3);
    }

    // button types
    &.outline {
        background-color: transparent !important;
        color: $grey-700;
        border-color: $grey-700;
        border-style: solid;

        &.btn-lg { border-width: 3px; }
        &.btn-md { border-width: 3px; }
        &.btn-sm { border-width: 2px; }
        &.btn-xs { border-width: 2px; }

        &:active {
            opacity: 0.8;
        }
        &:disabled {
            border-color: rgba($grey-500, 0.3);
            color: rgba($grey-500, 0.3);
        }
    }

    &.primary {
        background-color: $primary;
        color: white;

        // type actions
        &:active {
            opacity: 0.8;
        }

        &:disabled {
            background-color: rgba($primary, 0.3) !important;
        }

        &.outline {
            background-color: transparent !important;
            color: $primary;
            border-color: $primary !important;
            border-style: solid;
    
            &:active {
                opacity: 0.8;
            }

            &:disabled {
                border-color: rgba($primary, 0.3) !important;
                color: rgba($primary, 0.3) !important;
            }
        }
    }

    &.success {
        background-color: $green;
        color: white;

        // type actions
        &:active {
            opacity: 0.8;
        }
        &:disabled {
            background-color: rgba($green, 0.3) !important;
        }

        &.outline {
            background-color: transparent !important;
            color: $green;
            border-color: $green  !important;
            border-style: solid;
    
            &:active {
                opacity: 0.8;
            }

            &:disabled {
                border-color: rgba($green-500, 0.3) !important;
                color: rgba($green-500, 0.3) !important;
            }
        }
    }

    &.warning {
        background-color: $orange;
        color: white;

        // type actions
        &:active {
            opacity: 0.8;
        }
        &:disabled {
            background-color: rgba($orange, 0.3) !important;
        }

        &.outline {
            background-color: transparent !important;
            color: $orange;
            border-color: $orange  !important;
            border-style: solid;
    
            &:active {
                opacity: 0.8;
            }

            &:disabled {
                border-color: rgba($orange, 0.3) !important;
                color: rgba($orange, 0.3) !important;
            }
        }
    }

    &.link {
        background-color: transparent;
        color: $primary;

        // type actions 
        &:hover {
            text-decoration: underline;
        }
        &:active {
            opacity: 0.8;
        }
        &:disabled {
            color: rgba($primary, 0.3);

            &:hover {
                text-decoration: none;
            }
        }
    }
}



@media only screen and (max-width: 330px) { 
    button, .button {
        // sizes
        &.btn-lg {
            font-size: $text-300;
            padding: 14px 22px;  
            border-radius: 4px;
        }
        &.btn-md {
            font-size: $text-200;
            padding: 10px 14px;
            border-radius: 3px;
        }
        &.btn-sm {
            font-size: $text-200;
            padding: 10px 14px;
            border-radius: 3px;
        }
        &.btn-xs {
            font-size: $text-200;
            padding: 10px 14px;
            border-radius: 3px;
        }
    }
    
}

a {
    background-color: transparent;
    color: $primary;
    text-decoration: none;

    // type actions 
    &:hover {
        text-decoration: underline;
    }
    &:active {
        opacity: 0.8;
    }
    &:disabled {
        color: rgba($primary, 0.3);

        &:hover {
            text-decoration: none;
        }
    }
}