
input{
    height: $space-600 + $space-300;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    width: 100%;
    font-family: $font-primary;
    line-height: normal;
    border: 1px solid $grey-300;
    color: $grey-600;
    background-color: white;
    font-size: $text-300;
    padding: $space-400;
    border-radius: $space-100;
    margin-bottom: $space-500 + $space-200 !important;
    // margin-bottom: $space-500 !important;
    margin-top: $space-200 !important;

     // default actions
    &:active {
        outline: none !important;
    }
    &:focus {
        outline: none !important;
        border: 1px solid $green;
    }

    &:disabled {
        outline: none !important;
        border: 1px solid $green;
    }

    &::placeholder {
        color: $grey-400;
    }

    &:invalid {
        border: 1px solid $orange;
        background-color: rgba($orange-100, 0.5);

        &:focus {
            outline: none !important;
            border: 1px solid $green;
        }
    }

    &.invalid {
        border: 1px solid $orange;
        background-color: rgba($orange-100, 0.5);

        &:focus {
            outline: none !important;
            border: 1px solid $green;
        }
    }

    &:required::after {
        content: " *"
    }

}


input{
    color: $grey-400;
    -webkit-appearance: none !important;
    -moz-appearance:    none !important;
    appearance:         none !important;
}


input[type=date]{
    content: '';
    color: transparent;
    transition-property: border, background-color;
    line-height: 18px;

    &::before {
        content: 'What day';
        color: $grey-400;
    }
    &::after {
        content: '';
        color: $grey-400;
    }
    &:focus {
        content: none;
        color: $grey-400 !important;
    }
    &:focus::before {
        content: none;
        color: $grey-400 !important;
    }
    .hasInput::before {
        content: none !important;
        color: $grey-600 !important;
    }
}

input[type=time]{
    color: $grey-400;
}
input[type=time]{
    content: '';
    color: transparent;
    overflow: hidden;
    transition-property: border, background-color;

    &::before {
        content: 'What time';
        color: $grey-400;
    }
    &::after {
        content: '';
        color: $grey-400;
    }
    &:focus {
        content: none;
        color: $grey-400 !important;
    }
    &:focus::before {
        content: none;
        color: $grey-400 !important;
    }

}

input[type=file] {
    font-size: 100px;
    position: absolute;
    z-index: -10;
    left: -4px;
    top: -4px;
    opacity: 0
}

.hasInput {
    content: none;
    color: $grey-600 !important;
}
.hasInput::before {
    content: none !important;
    color: $grey-600 !important;
}


input.value-entered {
    color: $grey-600;
}

label {
    width: 100%;
    color: $grey-600;
    font-size: $text-400;
    font-weight: normal;
}

.input__label-required {
    color: $orange;
}

.input__label-required::before {
    content: ' ';
}

.input__icon {
    position: absolute;
    margin-top: 28px;
    margin-left: 18px;
    color: $grey-500;


    &.input__suffix {
        margin-left: -28px;
        color: $grey-300;

        &:hover {
            cursor: pointer;
            color: $grey-500;
        }
    }
}

.input__with-icon {
    text-indent: 29px !important;
}

.input__with-suffix {
    padding-right: 41px;
}

.form-control {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    // flex-wrap: nowrap;
    width: 100%;
}

.form-control .inline {
    width: 50%;
    box-sizing: border-box;
}

.form-control > .inline {
    margin-left: 10px;
    margin-right: 10px;
}

.form-control .inline:first-of-type {
    margin-left: 0px;
}

.form-control .inline:last-of-type {
    margin-right: 0px;
}

.form__upload-control {
    margin-top: $space-500;
    margin-bottom: $space-500 + $space-200 !important;
    // margin-bottom: $space-500;
}

.form__upload-hint {
    margin-top: 17px;
    margin-left: $space-300;
}

.file-uploader__hint {
    position: relative;
    top: 10px !important;
    margin-left: $space-300 !important;
}

.form__upload-control > button {
    border-color: $grey-400 !important;
    color: $grey-500;

    &:active {
        border-color: $grey-500 !important;
        color: $grey-600;
    }
}

.form__upload-wrapper {
    position: relative;
    // overflow: hidden;
    display: inline-block;

    button {
        margin-left: 0px;
    }
}

.upload-icon {
    font-size: $heading-100;
    position: relative;
    top: 5px;

    &.success {
        color: $green;
    }

    &.loading {
        color: $primary;
    }

    &.error {
        color: $orange;
    }
}

.upload-icon__helper {
    margin-left: 10px;
}


@media only screen and (max-width: 480px) { 
    .form-control {
        box-sizing: border-box !important;
        // display: block;

        .inline {
            box-sizing: border-box !important;
            width: calc(50% - 10px);
        //     margin-left: 0px;
        //     margin-right: 0px;  
        }

        input[type=time]{
        
            &::before {
                content: 'Time';
                color: $grey-400;
            }
        }

        input[type=date]{
        
            &::before {
                content: 'Date';
                color: $grey-400;
            }
        }
    }

}

.input__hint {
    position: relative;
    top: -26px;
    // line-height: 0px;
    font-size: $text-200;
    color: $grey-500;
}


textarea {
    min-height: 75px;
    max-height: 300px;
    resize: vertical;
    -webkit-appearance: none !important;
    -moz-appearance:    none !important;
    appearance:         none !important;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    width: 100%;
    font-family: $font-primary;
    line-height: normal;
    border: 1px solid $grey-300;
    color: $grey-600;

    font-size: $text-300;
    padding: $space-400;
    border-radius: $space-100;
    margin-bottom: $space-500 + $space-200 !important;
    // margin-bottom: $space-500 !important;
    margin-top: $space-200 !important;

     // default actions
    &:active {
        outline: none !important;
    }
    &:focus {
        outline: none !important;
        border: 1px solid $green;
    }

    &:disabled {
        outline: none !important;
        border: 1px solid $green;
    }

    &::placeholder {
        color: $grey-400;
    }

    &:invalid {
        border: 1px solid $orange;
        background-color: rgba($orange-100, 0.5);

        &:focus {
            outline: none !important;
            border: 1px solid $green;
        }
    }

    &.invalid {
        border: 1px solid $orange;
        background-color: rgba($orange-100, 0.5);

        &:focus {
            outline: none !important;
            border: 1px solid $green;
        }
    }

    &:required::after {
        content: " *"
    }
}

