/* typography */
$font-primary: 'Lato',-apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;


$text-100: 12px;
$text-200: 14px;
$text-300: 16px;
$text-400: 18px;
$text-500: 20px;
$text-600: 24px;
$heading-100: 30px;
$heading-200: 36px;
$heading-300: 48px;
$heading-400: 60px;
$heading-500: 72px;

/* typography classes */
body {
    font-size: $text-300;
    font-family: $font-primary;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
margin-bottom: $space-100;
}

h1 {
font-size: $heading-500;
line-height: $space-800;
}

h2 {
font-size: $heading-400;
line-height: $space-700;
}

h3 {
font-size: $heading-300;
line-height: $space-600;
}

h4 {
font-size: $heading-200;
line-height: $space-500;
}

h5 {
font-size: $heading-100;
line-height: $space-400;
}

h6 {
font-size: $text-100;
line-height: $space-300;
}

p {
    line-height: $space-500;
    font-size: $text-300;
}

* {
    color: $grey-600;
    font-weight: 300;
}