
@import './_styles/colors';
@import './_styles/spacing';
@import './_styles/typography';
@import './_styles/buttons';
@import './_styles/custom';
@import './_styles/forms';

html {
  height: 100%;
  width: 100%;
}

body, #app, #app>div, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* { 
  -moz-box-sizing: border-box !important; 
  -webkit-box-sizing: border-box !important; 
   box-sizing: border-box !important; 
}