@import '../../_styles/spacing';

.create-form__content {
    margin-left: auto;
    margin-right: 0;
    width: $space-1100;
    padding: $space-200;
    padding-right: $space-600;
    padding-left: $space-600;
    height: 100%;
    margin-bottom: $space-600;
}

.create-form__container {
    width: 55%;
}

@media only screen and (max-width: 900px) { 
    .create-form__content {
        margin: auto;
        width: 100%;
        margin-bottom: $space-600;
    }
}

@media only screen and (max-width: 830px) { 
    .create-form__content {
        margin: auto;
        width: $space-1100;
        margin-bottom: $space-400;
    }
    .create-form__container {
        width: 100%;
    }
    
}


@media only screen and (max-width: 480px) { 
    .create-form__content {
        width: 100%;
    }
}
