@import '../../styles/spacing';

@media only screen and (min-width: 830px) { 
    .create-form__map {
        height: 100%;
        width: 40%;
        position: fixed !important;
        top: 0;
        right: 0;
    }

    .map__input-field {
        margin: $space-600 auto;
        // height: 100%;
        position: fixed !important;
        right: 40px;
        width: calc(40% - 80px) !important;
        z-index: 100;
    }
}

@media only screen and (max-width: 900px) { 
    .create-form__map{
        width: 45% !important; 
    }

    .map__input-field {
        // width: 45% !important; 
        width: calc(40% - 50px) !important;
    }

}



@media only screen and (max-width: 830px) { 
    .create-form__map{
        width: 100% !important; 
        height: $space-1100;
        margin-bottom: 100px;
        position: relative;
        top: -200px;
    }
    .map__input-field{
        // display: none;
        margin: auto;
        padding: $space-600;
        right: 0px;
        width: $space-1100 !important;
        position: relative;
        z-index: 1000;
    }
}

@media only screen and (max-width: 470px) { 
    .map__input-field {
        width: 100% !important;
    }
}
